<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2f57f1ec6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <div id="travel-form">
            <form>
                    <h1 class="formHeader">Travel Log</h1>
                    <div id="travelTo">
                        <label for="">Where are you traveling to?</label>
                        <br>
                        <input id="to" type="text" name="input" value="">
                        <br>
                    </div>

                    <div id="travelFrom">
                        <label for="">Where are you traveling from?</label>
                        <br>
                        <input id="from" type="text" name="input" value="">
                        <br>
                        <div id="dateFlexbox">
                            <div class="datesColumn">
                                <label for="">Departure:</label>
                                <input id="departureDate" class="date" type="date" name="input" value="" placeholder="">
                            </div>
                            <div class="datesColumn">
                                <label for="">Return:</label>
                                <input id="returnDate" class="date" type="date" name="input" value="" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div id="btn-container">
                    <a href="#" id="btn"><span>Submit</span></a>
                    </div>
            </form>
        </div>
        <div id="travel-list-display" class="inactive-class">
        </div>
        <nav id="floating-nav" class="inactive-class">
            <div class="nav-item">
                <a href="https://www.expedia.com/Flights" id="book-trip-button"><i class="fa-solid fa-plane"></i></a>
            </div>
            <div class="nav-item">
                <a href="#" id="add-button"><i class="fa-solid fa-circle-plus"></i></a>
            </div>
            <div class="nav-item">
                <a href="#" id="delete-button"><i class="fa-solid fa-trash"></i></a>
            </div> 
        </nav>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>